# Python
__pycache__/
*.pyc
.pytest_cache/
.venv/
venv/

# Env / secrets
.env

# OS
.DS_Store

# Training data
experiments/runs/*
!experiments/runs/.gitkeep

outputs/figures/*
outputs/reports/*
!outputs/figures/.gitkeep
!outputs/reports/.gitkeep

# Notebooks
.ipynb_checkpoints/ 
notebooks/*.ipynb
